amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.4
asgiref==3.2.10
attrs==20.2.0
autobahn==20.7.1
Automat==20.2.0
billiard==3.3.0.23
braintree==4.4.0
cairocffi==1.1.0
CairoSVG==2.4.2
celery==3.1.15
certifi==2020.6.20
cffi==1.14.2
channels==2.4.0
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
colorama==0.4.4
constantly==15.1.0
cryptography==3.1
cssselect2==0.3.0
daphne==2.5.0
defusedxml==0.6.0
distlib==0.3.1
Django==3.1.1
django-admin-interface==0.13.5
django-allauth==0.42.0
django-appconf==1.0.4
django-avatar==5.0.0
django-bootstrap-modal-forms==2.0.0
django-braces==1.14.0
django-ckeditor==6.0.0
django-colorfield==0.3.2
django-crispy-forms==1.9.2
django-dark==0.1.7
django-debug-toolbar==2.2
django-embed-video==1.3.3
django-etc==1.2.0
django-extensions==3.0.9
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-haystack==3.0
django-hitcount==1.3.3
django-js-asset==1.2.2
django-mail-admin==0.2.0
django-memcache-status==2.2
django-parler==2.2
django-rosetta==0.9.5
django-seo==0.3.5
django-suit==2.0a1
django-taggit==1.3.0
django-widget-tweaks==1.4.8
djangorestframework==3.11.1
easy-thumbnails==2.7
Faker==4.1.2
filelock==3.0.12
flower==0.9.5
html5lib==1.1
httpie==2.3.0
humanize==3.0.1
hyperlink==20.0.1
idna==2.10
image==1.5.32
incremental==17.5.0
instamojo-wrapper==1.2.0
jsonfield==3.1.0
kombu==3.0.37
Markdown==3.2.2

oauthlib==3.1.0
Pillow==7.2.0
polib==1.1.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.7.2
PyHamcrest==2.0.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
Pyphen==0.9.5
PySocks==1.7.1
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2020.1
redis==3.5.3
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
service-identity==18.1.0
six==1.15.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
sqlparse==0.3.0
sqlparser==0.0.9
text-unidecode==1.3
tinycss2==1.0.2
tornado==6.0.4

txaio==20.4.1
urllib3==1.25.10
vine==5.0.0
virtualenv==20.0.31
wcwidth==0.2.5
WeasyPrint==51
webencodings==0.5.1
Werkzeug==1.0.1
Whoosh==2.7.4
zope.interface==5.1.2
