{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- TAWK -->
        <meta name="referrer" content="no-referrer-when-downgrade">
        

        <!-- Bootstrap CSS -->
        <link rel="icon" href="{% static 'images/logo/prayash_logo.jpg' %}" type="image/gif" sizes="25x25">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static '/charity/nav.css' %}" type="text/css" media="screen" >
        <link rel="stylesheet" type="text/css" href="{% static 'charity/css/semantic.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'charity/css/all.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'charity/css/nav.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'charity/index.css' %}">

        <title>
            {% block title %}
                Prayashekkadam  In India | Education For Poor Children | Donate Online For Underprivileged Children
            {% endblock %}
        </title>
        <style type="text/css">
            {% block css %}{% endblock %}
        </style>
    </head>
    <body>
        {% include 'charity/includes/nav.html' %}
        {% block content %}
        {% endblock %}
        <div class="container-fluid" style="background-color: #4f4f4f;color:#fff">
            <div class="row" style="padding: 20px;">
                <div class="col-lg-3">
                   <h3>About Us</h3>
                   <hr>
                   <!-- <hr style="border:1px solid #fff;"> -->
                    <a href="{% url 'charity:aboutus' %}">About Us</a><br><br>
                    <a href="{% url 'charity:contactus' %}">Contact Us</a><br><br>
                </div>
                <div class="col-lg-3">
                    <!--<h3>Newsletter</h3>-->
                    <!--<hr>-->
                    <!-- <hr style="border:1px solid #fff;"> -->
                    <!--<form method="post">-->
                    <!--    {% csrf_token %}-->
                    <!--    {{form|crispy}}-->
                    <!--    <button type="submit" class="btn btn-primary btn-sm"><i class="fab fa-telegram-plane"></i>&nbsp;&nbsp;Subscribe</button>-->
                    <!--</form>-->
                </div>
                <div class="col-lg-3">
                    <h3>Donate</h3>
                    <hr>
                    <!-- <hr style="border:1px solid #fff;"> -->
                    <i class="fab fa-cc-visa fa-2x"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fab fa-cc-mastercard fa-2x"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fab fa-cc-discover fa-2x"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fas fa-credit-card fa-2x"></i>&nbsp;&nbsp;&nbsp;<br><br><br>
                    <a href="{% url 'charity:donateview' %}" class="btn btn-success ">
                        Donate Now &nbsp;<i class="fas fa-hand-holding-usd"></i>
                    </a>
                </div>
                <div class="col-lg-3">
                    <h3>Follow Us</h3>
                    <hr>
                    <!-- <hr style="border:1px solid #fff;"> -->
                    <a href="https://facebook.com/careerstimuluscharitabletrust/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://twitter.com/Prayashekkadam/" target="_blank"><i class="fab fa-twitter fa-2x" style="line-height:30px;"></i></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://www.instagram.com/prayashekkadam/" target="_blank"><i class="fab fa-instagram fa-2x" style="line-height:30px;"></i></a>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="background-color: #303030;color:#fff">
            <p style="padding:15px;text-align: center;">© 2020-21 Career Stimulus &nbsp;|&nbsp; All rights reserved.</p>
        </div>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/61489858d326717cb68269e8/1fg1p679u';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/057bb7924f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'charity/js/all.min.js' %}">
        
        {% block javascript %}

        {% endblock %}
    </body>
</html>











