{% extends 'charity/base.html' %}
{% load static %}
{% block content %}
<div class="container pt-4 pb-4 mt-4">
	<div class="row">
        {% for project in page_object %}
            <div class="col-md-3 col-lg-3 p-1" id="card" style="">
                <div class="card h-100" style="width: 18rem;box-shadow: 5px 10px 18px #888888">
                    {% load thumbnail %}
                    <img style="cursor: pointer;height: 150px;" class="card-img-top p-1" src="{% if project.image %}{% thumbnail project.image 250x0 %}{% else %}{% static 'images/no_image.png' %}{% endif %}" alt="Card image cap">
                    <div class="card-body">
                        <h4>{{ project.title }}</h4>
                        <p class="card-text">{{ project.body|safe|truncatewords:15 }}</p>
                    </div>
                    <div class="card-footer ">
                        <a href="{{ project.get_absolute_url }}" class="btn btn-primary btn-block">See More &nbsp; &rarr;</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <h3>Currently we have no Projects</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}